<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Title1To6</key>
	<array>
		<string>1st</string>
		<string>2nd</string>
		<string>3rd</string>
		<string>4th</string>
		<string>5th</string>
		<string>6th</string>
	</array>
	<key>Title6To1</key>
	<array>
		<string>6th</string>
		<string>5th</string>
		<string>4th</string>
		<string>3rd</string>
		<string>2nd</string>
		<string>1st</string>
	</array>
	<key>TwoColumnNumber</key>
	<array>
		<string>2</string>
		<string>3</string>
		<string>4</string>
		<string>5</string>
		<string>6</string>
	</array>
	<key>TuningsStandardType</key>
	<array>
		<string>Stardand</string>
		<string>Drop D</string>
		<string>Dadgad</string>
		<string>Open C</string>
		<string>Custom</string>
	</array>
	<key>standardRightHandResultString</key>
	<array>
		<array>
			<string>4-2-1</string>
			<string>11-1-1</string>
			<string>7-1-1</string>
			<string>2-1-1</string>
			<string>9-0-1</string>
			<string>4-0-1</string>
		</array>
		<array>
			<string>4-2-1</string>
			<string>11-1-1</string>
			<string>7-1-1</string>
			<string>2-1-1</string>
			<string>9-0-1</string>
			<string>2-0-1</string>
		</array>
		<array>
			<string>2-2-0</string>
			<string>9-1-0</string>
			<string>7-1-0</string>
			<string>2-1-0</string>
			<string>9-0-0</string>
			<string>2-0-0</string>
		</array>
		<array>
			<string>4-2-1</string>
			<string>0-2-1</string>
			<string>7-1-1</string>
			<string>0-1-1</string>
			<string>7-0-1</string>
			<string>0-0-1</string>
		</array>
		<array>
			<string>-1</string>
			<string>-1</string>
			<string>-1</string>
			<string>-1</string>
			<string>-1</string>
			<string>-1</string>
		</array>
	</array>
	<key>standardLeftHandResultString</key>
	<array>
		<array>
			<string>4-0-1</string>
			<string>9-0-1</string>
			<string>2-1-1</string>
			<string>7-1-1</string>
			<string>11-1-1</string>
			<string>4-2-1</string>
		</array>
		<array>
			<string>2-0-1</string>
			<string>9-0-1</string>
			<string>2-1-1</string>
			<string>7-1-1</string>
			<string>11-1-1</string>
			<string>4-2-1</string>
		</array>
		<array>
			<string>2-0-0</string>
			<string>9-0-0</string>
			<string>2-1-0</string>
			<string>7-1-0</string>
			<string>9-1-0</string>
			<string>2-2-0</string>
		</array>
		<array>
			<string>0-0-1</string>
			<string>7-0-1</string>
			<string>0-1-1</string>
			<string>7-1-1</string>
			<string>0-2-1</string>
			<string>4-2-1</string>
		</array>
		<array>
			<string>-1</string>
			<string>-1</string>
			<string>-1</string>
			<string>-1</string>
			<string>-1</string>
			<string>-1</string>
		</array>
	</array>
</dict>
</plist>
